include _helpers.pug
doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href=root('assets/css/main.css'))

	body
		block content
		div#dz-root
		script(src="https://e-cdns-files.dzcdn.net/js/min/dz.js")
		script.
			DZ.init({
				appId: "#{deezer.clientID}",
				channelUrl: "#{root('channel.html')}"
			});

		script(src=root('assets/js/main.js'))
